name: recursive_reasoning.totrm@ToTRM
loss:
  name: losses@ACTLossHead
  loss_type: stablemax_cross_entropy

halt_exploration_prob: 0.1
halt_max_steps: 16

H_cycles: 3
L_cycles: 6

H_layers: 0
L_layers: 2

hidden_size: 512
num_heads: 8
expansion: 4

puzzle_emb_ndim: ${.hidden_size}

pos_encodings: rope
forward_dtype: bfloat16

mlp_t: False
puzzle_emb_len: 16
no_ACT_continue: True

# ToTRM specific parameters
tree_branching_steps: 5  # Branch on first 5 out of 6 L_cycles (n-1 where n=6)
tree_merge_method: mean  # Options: mean, max, learned_weighted
